@use '../base/mixins' as *;
@use '../base/variables' as *;

.aboutMe-container {    
    height: calc( 100vh - 144px );
    flex-grow: 1;
    @include flex-center;  
    padding: 0 5rem;      
    gap: .5in;
    img {
        height: 80%;
    }
    p {
        text-align: justify;
        line-height: 2;
    }

    @include mobile {
        img{
            display: none;
        }
        p{
            line-height: normal;
        }
    }
}