@use "../base/variables" as *;
@use "../base/mixins" as *;
.title {
  @include flex();
  @include navbarmobile {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin-top: 12rem;
  margin-bottom: 9rem;
}
.barber-name{
  display: flex;
  align-items: center;
  text-align: left;
}
.container {
  @include flex-row();
  width: 100%;
  .container_administration {
    width: 100%;
margin-right: 20px;
    @include flex-row();
    @include navbarmobile {
      @include flex-column();
    }
    .buton_administration {
      @include flex-column();
      margin-top: 0px;
      min-width: 10vw;
      margin-left: 25px;
      margin-right: 10px;
      button {
        border-radius: 25px; /* Añadir esta propiedad */
        font-size: 12px;
        background-color: $color-white;
        border-width: 1px;
        border: 1px solid #000000;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        width: 182px;
        height: 36px;
        margin-bottom: 20px;

        /* Estilos para hover */
        &:hover {
          background-color: $color-yellow;
          border: none;
        }

        /* Estilos para active */
        &:active {
          background-color: blue;
          color: white;
        }
      }
    }
    .container_barber{
    width: 100%;
      table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #331763;
        color: white;
      }
      
      th:first-child {
        border-radius: 10px 0 0 10px;
      }
      th:last-child {
        border-radius: 0 10px 10px 0;
      }
      .table {
        margin-left: 10px;
        overflow-x: auto;
        margin-bottom: 40px;
        @include flex-column();
        table {
          max-width: 100%;
          border-collapse: collapse;
          min-width: 75vw;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          tr td {
            border: none;
            padding: 8px;
            text-align: center;
            border-bottom: 1px solid #ccc;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
           
          }
          tr td .img-table {
            width: 60px;
            height: 60px;
            vertical-align: middle;
            margin-right: 10px;
            color: #d9d9d9;
          }
        }
      }
      .tile_table {
        th {
          border: none;
          padding-top: 18px;
          padding-bottom: 18px;
          text-align: center;
          background-color: $color-primary;
          color: $color-white;
        }
      }
    }
    .hidden_barbers {
      display: none;
    }
    .container_turners {
      width: 100%;
      @include flex-row();
      .calendar{
        @include flex-column();
        width: 20%;
      }
      .list_turner {
        @include flex(space-between);;
        width: 78%;
        .title_list {
          @include flex();
          width: 80%;
          div {
            @include flex(space-between);
            align-items: center;
          }
        }
        .filter{
          width: 20%;
          text-align: right;
          .select_barber{
            flex-basis: 45%;
            display: flex;
            align-items: center;
            position: relative;
            select {
              text-align: center;
              width: 100%;
              padding-left: 2rem;
              padding-right: 1rem;
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 24px;
              border-radius: 10px;
              margin-left: 0.5rem; /* ajuste según sea necesario */
              margin-right: 0.5rem; /* ajuste según sea necesario */
              option {
                padding: 1rem;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
              }
            }
            .select-icon-left {
              position: absolute;
              left: 2rem;
              top: 50%;
              transform: translateY(-50%);
              font-size: 30px;
            }
          }
        }
      }
    }
    .hidden_turners {
      display: none;
    }


  }
}
