@use '../base/mixins' as *;
@use '../base/variables' as *;

.stylist-container {
    margin-bottom: 20rem;

    .title{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .container-grid {
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
        gap: 3rem;
        margin: 0 auto;
        justify-content: center;

        @media screen and (max-width: 900px) {
            grid-template-columns: repeat(2 ,1fr);
        }

        @media screen and (max-width: 600px) {
            grid-template-columns: repeat(1 ,1fr);
        }

    .cardStylist{
        width: 300px;
        height: 350px;
        border-color: #000000;
        border-style: solid;
        border-radius: 30px;
        margin: auto;
        padding: 10px;
        @media screen and (max-width: 600px) {
            width: 200px;
            height: 350px;
        }

        img{
            padding-left: 5rem;
            margin-bottom: 2rem;

            @media screen and (max-width: 600px) {
                padding-left: 0;
            }
        }

        .textContainer span{
            margin-bottom: 20rem;
        }
    }

        .btn {
            top: 2rem;
            padding: 10px;
            width: 50%;
            background: #000000;
            color: #FFFFFF;
            border-radius: 10px;
            font-weight: bold;
            cursor: pointer;
            justify-content: center;
            margin: 0 auto;
            text-align: center;
        }
    }

}