// --------------------------------------------------
// Colors
// --------------------------------------------------
$color-primary: #222221;
$color-secondary: #9c9999;
$color-tertiary: #bcb2b2;
$color-white: #fff;
$color-yellow: #eeb82c;

// --------------------------------------------------
// Fonts
// --------------------------------------------------
$font-primary: "Roboto", sans-serif;
$font-secondary: "Lato", sans-serif;

// --------------------------------------------------
// Breakpoints
// --------------------------------------------------
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-navbar: 900px;
$breakpoint-desktop: 1024px;
$breakpoint-large: 1200px;

// --------------------------------------------------
// Spacing
// --------------------------------------------------
$spacing-1: 1rem;
$spacing-2: 2rem;
$spacing-3: 3rem;
$spacing-4: 4rem;
$spacing-5: 5rem;

// --------------------------------------------------
// Transitions
// --------------------------------------------------
$transition: all 0.3s ease-in-out;

// --------------------------------------------------
// Shadows
// --------------------------------------------------
$shadow-1: 0 1rem 2rem rgba(0, 0, 0, 0.2);
$shadow-2: 0 2rem 4rem rgba(0, 0, 0, 0.2);
$shadow-3: 0 4rem 8rem rgba(0, 0, 0, 0.2);

// --------------------------------------------------
// Border Radius
// --------------------------------------------------
$border-radius: 0.5rem;

// --------------------------------------------------
// Z-Index
// --------------------------------------------------
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
