@use "../base/variables" as *;
@use "../base/mixins" as *;

.login-container {
  @include flex(center, stretch);
  background-color: $color-primary;
  height: 100vh;
  width: 100vw;
  .login-left {
    display: none;
    @include desktop {
      filter: opacity(0.4);
      flex-basis: 50%;
      flex-grow: 1;
      @include flex-column();
      @include bg-image("../assets/images/welcome.jpeg", center, cover);
    }
  }
  .login-right {
    @include flex-column();
    background-color: black;
    text-align: center;
    position: relative;
    flex-grow: 1;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   bottom: 0;
    //   right: 0;
    //   @include bg-image("../assets/images/pattern.jpeg", left, repeat, 20%);
    //   background-blend-mode: multiply;
    //   opacity: 0.1;
    //   z-index: 0;
    // }
    h2 {
      margin-bottom: 1.5rem;
      color: #fff;
    }
    form {
      @include flex-column();
      align-items: center;
      background-color: $color-primary;
      padding: 3rem 2rem 2rem;
      border-radius: 0.5rem;
      @include box-shadow(0 0 1rem rgba(0, 0, 0, 0.2));
      font-family: $font-primary;
      margin-top: 6rem;
      position: relative;
      min-width: 350px;
      .login-image {
        @include flex(center, center);
        @include box-shadow(0 0 1rem rgba(0, 0, 0, 0.2));
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        background-color: $color-tertiary;
        margin-bottom: 1rem;
        position: absolute;
        top: -50px;
        left: calc(50% - 4rem);

        img {
          width: 80%;
          height: 80%;
          object-fit: cover;
        }
      }
      label {
        color: $color-white;
        font-weight: bold;
        align-self: flex-start;
      }
      input:not([type="checkbox"]) {
        padding: 1rem;
        border-radius: 0.25rem;
        border: 3px solid transparent;
        margin-bottom: 1rem;
        width: 100%;
        transition: border 0.2s ease-in-out;

        &:focus {
          outline: none;
          border: 3px solid rgba(0, 0, 0, 0.2);
        }
        &:hover {
          border: 3px solid rgba(0, 0, 0, 0.2);
          transition: border 0.2s ease-in-out;
        }
      }
      .login-forgot-password {
        @include flex(space-between);
        margin-bottom: 2rem;
        a {
          color: $color-tertiary;
          cursor: pointer;
          transition: color 0.2s ease-in-out;
          &:hover {
            color: darken($color-white, 10%);
          }
        }
        cursor: pointer;
        transition: color 0.2s ease-in-out;
        width: 100%;
        &:hover {
          color: darken(#007bff, 10%);
        }
        .login-remember {
          @include flex(flex-start, center);
          gap: 0.5rem;
          cursor: pointer;
          transition: color 0.2s ease-in-out;
          &:hover {
            color: darken(#007bff, 10%);
          }
          #remember,
          label {
            margin: 0;
          }
        }
      }
      .terms {
        @include flex(flex-start);
        margin-bottom: 2rem;
        a {
          color: $color-tertiary;
          cursor: pointer;
          transition: color 0.2s ease-in-out;
          &:hover {
            color: darken($color-white, 10%);
          }
        }
      }
      button {
        padding: 1rem;
        border-radius: 0.25rem;
        border: none;
        color: $color-primary;
        background-color: $color-secondary;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        width: 25rem;
        &:hover {
          filter: opacity(0.8);
        }
      }
    }
    p {
      margin-top: 1rem;
      color: #fff;
      z-index: 1;
      a {
        color: $color-tertiary;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
        &:hover {
          color: darken($color-white, 10%);
        }
      }
    }
    .login-social {
      .login-social-icons {
        @include flex(center, center);
        gap: 1rem;
        margin-top: 2rem;
        a {
          @include flex(center, center);
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          background-color: $color-white;
          color: $color-primary;
          transition: background-color 0.2s ease-in-out;
          &:hover {
            background-color: $color-primary;
            color: $color-white;
          }
          svg {
            width: 2.5rem;
            height: 2.5rem;
          }
        }
      }
    }
  }
}
