$navbar-hidden: "navbar-hidden";
@use "../base/variables" as *;
@use "../base/mixins" as *;
.content-nav-and-head {
  width: 100%;
  header {
    width: 100%;
    z-index: 9999;
    .header {
      @include flex(space-between, center);
      background-color: black;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
    }
    .left {
      font-size: 1.6rem;
      color: $color-white;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      flex-grow: 1;
    }
    .right {
      display: flex;
      font-size: 1.6rem;
      gap: 2rem;
      color: $color-white;
      div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
    .navbar {
      z-index: 999;
      @include flex-row(space-between, center);
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: #bcb2b2;
      color: #fff;
      padding: 1rem;
      width: 100%;

      @include navbarmobile {
        @include flex-column(center, center);
        padding: 1.5rem;
      }
      @include desktop {
        @include flex-row(space-between, center);
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      .logo {
        display: inline-block;
        font-size: 1.6rem;
        color: black;
        @include navbarmobile {
          display: flex; /* Utilizar flexbox */
          justify-content: center; /* Centrar horizontalmente */
          align-items: center; /* Centrar verticalmente */
          color: black;
        }
      }
      .hamburger {
        display: none;
        cursor: pointer;

        @include navbarmobile {
          display: block;
        }

        div {
          width: 30px;
          height: 3px;
          background-color: black;
          margin: 5px 0;
        }
      }
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 0;
        @include navbarmobile {
          @include flex-column();
          &.navbar-hidden {
            display: none;
          }
        }
        li {
          margin: 0 5px;
          @include navbarmobile {
            margin: 5px 0;
            font-size: 1.2rem;
          }

          a {
            display: inline-block;
            padding: 5px;
            color: black;
            text-decoration: none;
            font-size: 1.4rem;
            &:hover {
              text-decoration: underline;
            }
            &.button {
              color: white;
              background-color: black;
              border-radius: 30px;
              padding: 5px 10px;
              &:hover {
                background-color: darken(white, 10%);
                color: black;
              }
            }
          }
        }
        .custom-style {
          color: white;
          background-color: black;
          border-radius: 30px;
          padding: 5px 10px;
          font-size: 13px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
            background-color: darken(white, 10%);
            color: black;
          }
        }
      }
    }
    .modal {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
    }

    .modal-content {
      display: flex;
      overflow: auto;
      position: relative;
      padding-top: 1rem;
      padding-bottom: 20px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      background-color: #ffffff;
      max-width: 32rem;
      max-height: 80vh;
      border-radius: 0.5rem;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }
  }
}
